<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Image Upload
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null" />
  <img src="{{rawImage}}" style="width: 100%" [hidden]="rawImage === null" />
  <!--<img src="{{rawImage}}" style="width: 100%" [hidden]="rawImage === null" /> -->
  <!-- <h3 [hidden]="lastImage !== null || img64 !== null">Please Select Image!</h3> -->
  <!-- <h3 [hidden]="lastImage !== null" >Image on Android</h3>
  <h3 [hidden]="img64 !== null" >Image on iOS</h3> -->

  <ion-slides style="height:100%;width:100%;">
    <!-- <ion-slide *ngFor="let image of images"> -->
    <ion-slide>
      <img src="{{rawImage}}" style="width: 100%" />Image for iOS
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>